@font-face {
    font-family: 'Blockt';
    src: url('../fonts/Blockt.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Molot';
    src: url('../fonts/Molot.otf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
